---
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const limit: number = Astro.props.limit; //limit数
const column: number = Astro.props.column; //column数
const response = await getBlogs({ fields: ["id", "title", "eyecatch", "publishedAt", "author"], limit });
---

<div class={`l-grid p-articleList  l-grid--col-${column}`}>
  {
    response.contents.map((content: any) => (
      <div class="l-grid__item p-articleList__item">
        <a class="p-articleList__Link" href={"article/page/" + content.id}>
          <figure class="p-articleList__thumnail">
            <img
              src={content.eyecatch.url}
              width={content.eyecatch.width}
              height={content.eyecatch.height}
              alt={"ブログサムネイル"}
              decoding="async"
            />
          </figure>
        </a>

        <p class="p-articleList__publishedAt">
          {new Date(content.publishedAt).toLocaleDateString("ja-JP").replace(/\//g, ".")}
        </p>
        <p class="p-articleList__title">{content.title}</p>
      </div>
    ))
  }
</div>
