---
const F_links_1 = [
  { href: "/", label: "TOP" },
  { href: "/about", label: "ABOUT" },
  { href: "/contact", label: "CONTACT" },
  { href: "/privacy", label: "PRIVACY" },
];
const F_links_2 = [
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
];
const F_links_3 = [
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
];
const F_links_4 = [
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
  { href: "/", label: "ダミーテキスト" },
];
---

<footer class="l-footer">
  <nav class="l-footer__menu">
    <div class="l-footer__logo">
      <img src="" alt="ロゴ" width="" height="" />
    </div>
    <ul class="l-footer__list">
      {
        F_links_1.map((item) => (
          <li class="l-footer__item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>
    <ul class="l-footer__list">
      {
        F_links_2.map((item) => (
          <li class="l-footer__item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>
    <ul class="l-footer__list">
      {
        F_links_3.map((item) => (
          <li class="l-footer__item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>

    <details class="l-footer__list c-details js-details">
      <summary class="js-summary c-details__summary md:pointer-events-none">
        <span class="l-footer__title c-details__title">
          リスト
          <span class="c-icon-plus md:hidden"></span>
        </span>
      </summary>
      <div class="js-content">
        {
          F_links_4.map((item) => (
            <div class="l-footer__item">
              <a href={item.href}>{item.label}</a>
            </div>
          ))
        }
      </div>
    </details>
  </nav>
</footer>
